.dashboard-container {
  display: flex;
 
  min-height: 100vh;
  width: 100%;
}

.custom-sidebar {
  width: 240px;
  background-color: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes footer/logout to bottom */
  height: auto;
  padding: 20px;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  width: 100%;
}

.dashboard-content {
  padding: 20px;
  flex: 1;
}

.dashboard-analytics {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
