/* FLOATING GLASS TOPBAR */
.topbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1400px;

  height: 70px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 16px;

  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  z-index: 999;
  color: white;
}

/* SCROLL EFFECT */
.topbar.scrolled {
  background: rgba(15, 23, 42, 0.9);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.6);
}

/* LOGO */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
}

/* SEARCH */
.search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 15px;
  border-radius: 30px;
  width: 420px;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  padding-left: 10px;
}

.search-icon {
  opacity: 0.6;
}

.shortcut {
  font-size: 12px;
  opacity: 0.6;
}

/* RIGHT */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
}

/* NOTIFICATION */
.notification {
  position: relative;
}

.dot {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
}

/* PROFILE */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6366f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.user-info span {
  font-size: 12px;
  opacity: 0.6;
}